@font-face {
    font-family: 'SourceCodePro';
    src: url('fonts/SourceCodePro.ttf');
}

.root {
    -fx-font-family: 'Source Code Pro', monospace;
}

.p, b, i {
    -fx-font-size: 18px;
}
.h1 {
    -fx-font-size: 40px;
}
.h2 {
    -fx-font-size: 30px;
}
.h3 {
    -fx-font-size: 20px;
}
.b {
    -fx-font-weight: bold;
}
.i {
    -fx-font-style: italic;
}
.inline-code {
    -rtfx-border-stroke-width: 1px;
    -rtfx-border-stroke-color: darkgray;
    -rtfx-background-color: whitesmoke;
}
.link {
    -fx-fill: "#0250BB";
}
.md {
    -fx-fill: "#808080";
}
.code-area {
    -fx-padding: 2px;
    -fx-border-width: 0;
}