@font-face {
    font-family: 'SourceCodePro';
    src: url('fonts/SourceCodePro.ttf');
}

.root {
    -fx-font-family: 'Source Code Pro', monospace;
}

.markdown-editor {
    -fx-padding: 2px;
    -fx-border-width: 0;
}

.paragraph-text {
    -fx-font-size: 16px;
    -fx-line-spacing: 24px;
    -fx-padding: 4px 0 8px 0;
}

/*** Paragraph Syntax ***/

/* rem == 18 */

h1, h2, h3 {
    -fx-line-spacing: 1.42;
    -fx-padding: 8px 0 12px 0;
}

.h1 {
    -fx-font-size: 32px;
}

.h2 {
    -fx-font-size: 24px;
}

.h3 {
    -fx-font-size: 20px;
}

/* blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
} */

/*** Inline Syntax ***/

.md {
    -fx-fill: "#808080";
}

.b {
    -fx-font-weight: bold;
}

.i {
    -fx-font-style: italic;
}

.inline-code {
    -rtfx-border-stroke-width: 1px;
    -rtfx-border-stroke-color: darkgray;
    -rtfx-background-color: whitesmoke;
}

.s {
    -fx-strikethrough: true;
}

.mark {
    -rtfx-background-color: "#fbf719";
}

.link {
    -fx-fill: "#3498db";
}